.env.*
.env
.venv
.idea
.vscode
.DS_Store

**/.env.*
**/.env
**/.venv
**/.idea
**/.vscode
**/*.tmp

**/__pycache__
vectorstore/data
keys

data/imported_docs/*
!data/imported_docs/*.md
data/db/*
!data/db/*.md