.env.*
.env
.venv
.idea
.vscode
.DS_Store

**/.env.*
**/.env
**/.venv
**/.idea
**/.vscode
**/*.tmp

**/__pycache__
vectorstore/data
keys

data/imported_docs/*
!data/imported_docs/*.md

data/db/collections
data/db/vector

data/db/neo4j/data
data/db/neo4j/licenses
data/db/neo4j/logs
data/db/neo4j/plugins


!data/db/*.md
